@mixin commonBackgroundAndColor($color: #fff) {
  --color: $color;
  --background: #000;
}

.header-toolbar {
  --padding-start: 1rem;
  --padding-end: 2rem;
  border-bottom: 0.1rem solid #ccc;
  @include commonBackgroundAndColor;
}

ion-content {
  @include commonBackgroundAndColor;
  --padding-bottom: 2rem;
}
